<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="Vincere-ETL"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="VINCERE_ETL"/>
    <stringAttribute key="TALEND_JOB_ID" value="_gclQ0J2yEeK_Lq_Tgq3rQw"/>
    <stringAttribute key="TALEND_JOB_NAME" value="jo_cook_ch02_0000_handCrankedSchemaCompleted"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
