<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="Vincere-ETL"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="VINCERE_ETL"/>
    <stringAttribute key="TALEND_JOB_ID" value="_x0xmwMuGEem8FoZWVWDGaQ"/>
    <stringAttribute key="TALEND_JOB_NAME" value="N_02_strivesales_standard_files_"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
